.checkbox-container label{
    cursor: pointer;
    margin-right: 5px;
}

.checkbox-widget {
    position: relative;
    border: 1px solid black;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 .6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    opacity: .5;
}

.checkbox-widget:hover {
    opacity: 1;
}

.checkbox-widget:checked {
    background-color: black;
    opacity: 1;
}

.checkbox-widget:checked:before {
    content: '';
}

.checkbox-widget:before {
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}