.dropdown-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown-menu label{
    margin-right: 10px;
}

.dropdown-menu-select {
    background-color: #1a1a1a;
    opacity: 1;
    flex-grow: 100;
    border: none;
    outline: none;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-menu-select:hover {
    opacity: .75;
}