/* styling for graph container */

.graph-container{
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: move;
    transform-origin: top left;
}

/* styling for element tree */

.node-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.svg-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;
}