@import url('/codicon.css');

* {
    margin: 0px;
    padding: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--graph-background-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.wire-graph{
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    background-color: var(--graph-background-color);
    width: 100%;
    height: 100vh;
    color: var(--text-color);
    user-select: none;
}